---
// ここにはロゴのパスなどの変数を置けます
---
<div class="header-section">
  <div class="logo-box">
    <img src="/logo.png" alt="DX倶楽部 ロゴ" class="tus-logo" />
  </div>
  <div class="university-tag">DX倶楽部</div>
</div>